.background {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 80%;
    height: 80%;
}

.font-topup {
    text-align: center;
    padding-top: 20px;
    font-size: 72px;
    color: #FB5607;
    font-weight: bold;
}
.font-topup2 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.boxflex {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: #2B2D42;
    border-radius: 30px;
    width: 40%;
    height: 80%;
    border: 5px solid;
    border-color: rgb(0, 38, 255);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    /* เปิดใช้ Flexbox */
    align-items: center;
    /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
    flex-direction: column;


}

.box2 {
    background-color: #2B2D42;
    border-radius: 30px;
    width: 40%;
    height: 80%;
    border: 5px solid;
    border-color: rgb(255, 196, 0);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    /* เปิดใช้ Flexbox */
    align-items: center;
    /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
    flex-direction: column;


}

.Topup-Name {
    text-align: center;
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.Topup-tax {
    text-align: center;
    color: white;
    font-size: 18px;
}

.Promptpay {
    width: 180px;
    height: 180px;
    border: 5px solid #ffffff;
    margin: 20px;
    border-radius: 30px;
}

.Truemoney {
    width: 180px;
    height: 180px;
    border: 5px solid rgb(255, 196, 0);
    margin: 20px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .font-topup {
        font-size: 36px;
    }

    .box1,
    .box2 {
        width: 45%;
        background: #your_new_background_color;
        /* เปลี่ยนพื้นหลัง .box1 และ .box2 เมื่อหน้าจอเล็กลง */
    }

    .Promptpay,
    .Truemoney {
        width: 140px;
        height: 140px;
    }
}