.background {
    background:transparent;
    width: 80%;
    height: 80%;
}

.font-topup {
    text-align: center;
    padding-top: 20px;
    font-size: 72px;
    font-weight: bold;
    background: -webkit-linear-gradient(#000000,#774731,#ff6900);
    background-clip: text;
    -webkit-background-clip: text; /* สำหรับเบราวเซอร์ Safari */
    color: transparent;
    -webkit-text-stroke: 1px transparent;
}
.font-topup2 {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-weight: bold;
}

.boxflex {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 40%;
    height: 70%;
    border: 5px solid;
    border-color: rgb(255, 94, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    /* เปิดใช้ Flexbox */
    align-items: center;
    /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
    flex-direction: column;
}

.box2 {
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 40%;
    height: 70%;
    border: 5px solid;
    border-color: rgb(255, 94, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    /* เปิดใช้ Flexbox */
    align-items: center;
    /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
    flex-direction: column;
}

.Topup-Name {
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;

}
.Topup-Name-Truemoney {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Topup-Name-Truemoney::before {
    content: 'True';
    color: red;
}

.Topup-Name-Truemoney::after {
    content: 'Money';
    color: orange;
}

.Topup-tax {
    text-align: center;
    color: rgb(255, 98, 0);
    font-size: 14px;
    font-weight: bold;
}

.Qrcode  {
    width:70%;
    height: 50%;
    margin: 20px;
}

.Truemoney {
    width: 70%;
    height: 50%;
    margin: 20px;
}

.gradient-text {
    background: linear-gradient(to right, black 50%, red 50%);
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
    .font-topup {
        font-size: 48px;
        
    }

    .font-topup2 {
        font-size: 16px;
        margin-bottom: 80px;
    }
    .boxflex {
        flex-direction: column; /* จัดเรียงแนวตั้งเมื่อหน้าจอเล็กลง */
    }
    .box1,
    .box2 {
        width: 100%;
        padding-bottom: 30px;
        /* เปลี่ยนพื้นหลัง .box1 และ .box2 เมื่อหน้าจอเล็กลง */
    }

    .Promptpay{
        width: 140px;
        height: 140px;
    }
    .Truemoney {
        width: 250px;
        height: 140px;
    }
}

.box1, .box2 {
    /* รายละเอียดของกล่องที่จะขยับเมื่อเอาเมาส์ไปชี้ */
    transition: transform 0.2s;
}

.box1:hover, .box2:hover {
    /* รายละเอียดเมื่อกล่องถูกเมาส์ชี้ */
    transform: translateY(-10px); /* ขยับขึ้นข้างบน 10px */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงาด้านล่างของกล่อง */
}
.box1,
.box2 {
  text-decoration: none;
}
