@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Mali&display=swap');
* {
  font-family: 'K2D', sans-serif;
  font-family: 'Mali', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
